# Dependencias principales
RPi.GPIO==0.7.0
adafruit-circuitpython-adxl34x==2.3.1
python-telegram-bot==20.3
adafruit-circuitpython-st7789==1.4.9
Pillow==9.5.0

# Dependencias de soporte
adafruit-blinka==8.19.1
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-register==1.9.8